@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>视频列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs"  role="group">
                                  <#button name="播放" icon="fa-youtube-play" clickFun="PartVideo.play()" />
                        </div>
                        <#table id="partVideo" style=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/book/partVideos.js"></script>
@}
