@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>我的账户</h5>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal" id="deptInfoForm">
            <input type="hidden" id="id" value="${bsa.id}">
            <div class="row">
                <div class="col-sm-6 b-r" style="height: 400px;">
                    <#input id="branchsalerName" name="分会名称" underline="true" readonly="true" value="${bsa.branchsalerName}"/>
                    <#input id="" name="分润总金额" underline="true" readonly="true" value="${branchsalerAccount_all}"/>
                    <#input id="" name="本期结算金额" underline="true" readonly="true" value="${branchsalerAccount_benqi}"/>
                    <#input id="" name="已结算金额" underline="true" readonly="true" value="${branchsalerAccount_yijiesuan}"/>
                    <#input id="" name="未结算金额" underline="true" readonly="true" value="${branchsalerAccount_in}"/>
            </div>
        </div>
    </div>
</div>

@}
