@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="deptInfoForm">

            <input type="hidden" id="id" value="${branchsaler.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="simplename" name="分会名称" underline="true" value="${branchsaler.simplename}"/>

                    <#input id="fullname" name="分会全称" underline="true" value="${branchsaler.fullname}"/>

                    <#input id="tips" name="备注" underline="true" value="${branchsaler.tips}"/>
                    
                    <#input id="username" name="联系人" underline="true"  value="${branchsaler.username}"/>
                    
                    <#input id="phone" name="手机号" underline="true"  value="${branchsaler.phone}"/>
                </div>
                <div class="col-sm-6">
                    <#input id="num" name="排序" underline="true" value="${branchsaler.num}"/>

                    <#input id="pName" name="上级分会" readonly="readonly" hidden="pid"
                            hiddenValue="${branchsaler.pid}" value="${pName}"
                            clickFun="DeptInfoDlg.showDeptSelectTree(); return false;"
                            style="background-color: #ffffff !important;" underline="true"/>
                            
                     <#select id="level" name="分会级别" underline="true">
						<option value="0" 
						@if(branchsaler.level == 0){
						 selected=true
						@}						
						>
						总会
						</option>
						<option value="1" 
						@if(branchsaler.level == 1){
						 selected=true
						@}	
						>省级分会</option>
						<option value="2" 
						@if(branchsaler.level == 2){
						 selected=true
						@}
						>市级分会</option>
						<option value="3" 
						@if(branchsaler.level == 3){
						 selected=true
						@}
						>区县级分会</option>
						<option value="4" 
						@if(branchsaler.level == 4){
						 selected=true
						@}
						>小渠道</option>
					</#select>       
                </div>
            </div>

            <!-- 父级分会的选择框 -->
            <div id="parentDeptMenu" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="parentDeptMenuTree" class="ztree tree-box" style="width: 245px !important;"></ul>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DeptInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DeptInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dept/dept_info.js"></script>
@}
