@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>分会映射</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-3">
                            <#NameCon id="condition" name="名称" />
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Mapping.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Mapping.resetSearch()" space="true"/>
                        </div>
                    </div>
                    <div class="row row-lg move-workBtn">
                        <div class="col-lg-12 col-sm-12">
                            <#button name="添加" icon="fa-plus" clickFun="Mapping.openAddMapping()"/>
                            <#button name="修改" icon="fa-edit" clickFun="Mapping.openMappingDetail()" space="true"/>
                            <#button  btnCss="danger" name="删除" icon="fa-remove"  clickFun="Mapping.delete()" space="true"/>
                         </div>
                    </div>
                    <#table id="MappingTable" style=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/dept/mapping.js"></script>
@}
