@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>最懂产品的半间教室推广人</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <#NameCon id="condition" name="查看我的全国排名" placeholder="手机号" value=""/>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                    </div>
                    <div class="col-lg-3 col-sm-3">
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <#button name="搜索" icon="fa-search" clickFun="BranchSaleruserPlay.search()" space="true" />
                        <#button name="重置" icon="fa-trash" clickFun="BranchSaleruserPlay.resetSearch()" space="true" />
                    </div>
                </div>
                <#table id="BranchSaleruserPlayTable" style=""/>
            </div>

        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/modular/system/generaluser/branchsaleruserplay.js"></script>
@}
