@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="col-lg-12 col-sm-12">
		<div class="ibox-title">
			<h5>无归属订单</h5>
		</div>
		<div class="ibox-content">
			<div class="row">
				<div class="row">
				</div>
				<div class="row row-lg move-workBtn">
					<div class="col-lg-12 col-sm-12">
						@if(shiro.hasPermission("/othernessUser/exportList")){
						<#button name="导出表格" icon="fa-bar-chart" clickFun="OthernessUser.exportList()"/>
						@}
					</div>
				</div>
				<#table id="othernessUser" style=""/>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/generaluser/othernessuser.js"></script>
@}
