@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>变更记录</h5>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="row">
						<div class="col-lg-3 col-sm-3">
							<#NameCon id="condition" name="条件" placeholder="姓名/手机号"/>
						</div>
						<div class="col-lg-3 col-sm-3">
							<#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
						</div>
						<div class="col-lg-3 col-sm-3">
							<#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
						</div>
						<div class="col-lg-3 col-sm-3">
							<#button name="搜索" icon="fa-search" clickFun="UserBchange.search()" space="true"/>
							<#button name="重置" icon="fa-trash" clickFun="UserBchange.resetSearch()" space="true"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-3">
						</div>
						<div class="col-lg-3 col-sm-3">
						</div>
						<div class="col-lg-3 col-sm-3">
						</div>
						<div class="col-lg-3 col-sm-3">
						</div>
					</div>
					<div class="row row-lg move-workBtn">
						<div class="col-lg-12 col-sm-12">
							<#button name="批量变更" icon="fa-plus" clickFun="UserBchange.userChangeBranchsalerIndex()" />
						</div>
					</div>
					<#table id="UserBchangeTable" style=""/>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/generaluser/userbranchsalerchange.js"></script>
@}
