@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>新增统计</h5>
			</div>
			<div class="ibox-content">
				<div class="row">
						<div class="row">
							<div class="col-lg-3 col-sm-3">
								<#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD" value="" />
							</div>
							<div class="col-lg-3 col-sm-3">
								<#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD" value="" />
							</div>
							<div class="col-lg-3 col-sm-3">
							</div>
							<div class="col-lg-3 col-sm-3">
								<#button name="搜索" icon="fa-search"
								clickFun="UserNewly.search()" space="true" />
								<#button name="重置" icon="fa-trash"
								clickFun="UserNewly.resetSearch()" space="true" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-sm-3">
							</div>
							<div class="col-lg-3 col-sm-3">
							</div>
							<div class="col-lg-3 col-sm-3">
							</div>
							<div class="col-lg-3 col-sm-3">
							</div>
						</div>
					<!--	<div class="row row-lg move-workBtn">
							<div class="col-lg-12 col-sm-12">
							</div>
						</div>-->
						<#table id="UserNewlyTab" style="" />
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/system/generaluser/usernewly.js"></script>
@}
