@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>实体卡</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
					<div class="row">
						<div class="col-lg-3 col-sm-3">
							<#SelectCon id="status" name="状态" >
                                		<option value="" selected="selected">全部</option>
										<option value="0">未激活</option>
										<option value="1">已激活</option>
										<option value="2">已使用</option>
						     </#SelectCon>
					     </div>
					      <div class="col-lg-3 col-sm-3">
							  <#NameCon  id="cardNoStart" name="开始编号"  />
						  </div>
					      <div class="col-lg-3 col-sm-3">
							  <#NameCon id="cardNoEnd" name="结束编号"/>
						  </div>
					      <div class="col-lg-3 col-sm-3">
							  <#button name="搜索" icon="fa-search" clickFun="Card.search()"/>
							  <#button name="重置" icon="fa-trash" clickFun="Card.resetSearch()" space="true"/>
						  </div>
                        </div>
						<div class="row row-lg move-workBtn">
							<div class="col-lg-12 col-sm-12">
								@if(shiro.hasPermission("/card/exportPicture")){
								<#button name="导出二维码" icon="fa-picture-o" clickFun="Card.exportPicture()"/>
								@}
							</div>
						</div>
				    <#table id="Card" style=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/card/card.js"></script>
@}
