@layout("/common/_container.html"){
<div class="ibox-content">
    <div class="row">
        <div class="col-lg-3 col-sm-3">
        </div>
        <div class="col-lg-3 col-sm-3">
        </div>
        <div class="col-lg-3 col-sm-3">
        </div>
        <div class="col-lg-3 col-sm-3">
           <!-- <#button name="重置" icon="fa-trash" clickFun="UserMap.echartsInit('','')" space="true"/>-->
        </div>
    </div>
        <div id="UserMap" style=""></div>

</div>


<script src="${ctxPath}/static/js/echarts/echarts.js"></script>
<script src="${ctxPath}/static/js/echarts/china.js"></script>
<script src="${ctxPath}/static/js/echarts/all-province.js"></script>
<script src="${ctxPath}/static/modular/system/echarts/usermap.js"></script>
<script>

</script>
@}
